*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', ' Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.app-container {
    max-width: 1110px;
    margin: 0 auto;
}

.title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #3e4c59;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 24px;
}

.description {
    max-width: 730px;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #616e7c;
    margin: auto;
    margin-bottom: 40px;
}

.tabs-container {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 455px;
    margin: auto;
}

.project-list-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 150px;
    list-style-type: none;
}